<h4>Instalación de Software de Oficina</h4>
<style>
  /* Fija una altura al carrusel y ajusta las imágenes */
  /* se agrega nuevo estilo fijo a las imagenes*/
  #carouselExampleCaptions {
    max-width: 100%;
    height: 500px; /* Ajusta esta altura según tus necesidades */
    overflow: hidden;
  }
  #carouselExampleCaptions .carousel-inner img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: cover; /* Ajuste para que la imagen se centre y rellene el contenedor */
  }
</style>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/SWOficina/apacheopenoffice.jpg" class="d-block w-50 mx-auto" alt="ApacheOpenOffice">
      </div>
      <div class="carousel-item">
        <img src="assets/img/SWOficina/libreoffice.webp" class="d-block w-50 mx-auto" alt="LibreOffice">
      </div>
      <div class="carousel-item">
        <img src="assets/img/SWOficina/microsoftoffice.png" class="d-block w-50 mx-auto" alt="MicrosoftOffice">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <p>La Instalación de Software de Oficina es ideal para quienes necesitan tener aplicaciones de productividad instaladas correctamente en sus equipos. Ya sea que requieras herramientas para la gestión de documentos, creación de presentaciones o gestión de hojas de cálculo, nuestro servicio incluye:</p>
  <p><b>Instalación de Paquetes de Oficina:</b> Instalamos suites de oficina como Microsoft Office, LibreOffice, o cualquier otro software que se ajuste a tus necesidades laborales o personales.</p>
  <p><b>Configuración Personalizada:</b> Personalizamos la configuración de cada aplicación para que se adapte a tu flujo de trabajo y preferencias personales.</p>
  <p><b>Integración en la Nube:</b> Configuramos opciones de almacenamiento en la nube, como OneDrive o Google Drive, para que puedas acceder y respaldar tus documentos en línea.</p>
  <p><b>Actualización y Mantenimiento:</b> Aseguramos que todas las aplicaciones estén actualizadas y funcionando de manera óptima para evitar fallos y mejorar la seguridad.</p><br>
  <p><b>Beneficios:</b> A través de este servicio, te aseguras de contar con las herramientas de trabajo más recientes y de tener un equipo preparado para enfrentar cualquier tarea profesional.</p>