<section>
  <div class="portada-container">
    <img src="assets/img/portada.jpg" alt="Portada de Mercy Developer" class="portada-container">
    <div class="portada-content text-center">
      <h1 class="portada-title">Bienvenidos a Mercy Developer</h1>
      <h4 class="portada-subtitle">Soluciones informáticas a la medida de tus necesidades</h4>
    </div>
  </div>
  
  <div class="especialidades">
    <h2>Especialidades</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <a routerLink="/especialidades/instalacion-os" class="btn btn-primary">Instalación de Sistemas Operativos</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/especialidades/reparacion" class="btn btn-primary">Reparación de Computadoras</a>
      </li>
      <li class="list-group-item">
        <a routerLink="/especialidades/swoficina" class="btn btn-primary">Instalación de Software de Oficina</a>
      </li>
    </ul>
  </div>
</section>

<app-formulario></app-formulario>